@font-face {
    font-family: 'Noto Sans Mono';
    src: url('/fonts/NotoSansMono-Regular.woff2') format('woff2'),
        url('/fonts/NotoSansMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Latin Modern Math';
    src: url('/fonts/LatinModernMath-Regular.woff2') format('woff2'),
        url('/fonts/LatinModernMath-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'STIX Two Math';
    src: url('/fonts/STIXTwoMath-Regular.woff2') format('woff2'),
        url('/fonts/STIXTwoMath-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'STIX Two Text';
    src: url('/fonts/STIXTwoText-Bold.woff2') format('woff2'),
        url('/fonts/STIXTwoText-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'STIX Two Text';
    src: url('/fonts/STIXTwoText-BoldItalic.woff2') format('woff2'),
        url('/fonts/STIXTwoText-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'STIX Two Text';
    src: url('/fonts/STIXTwoText-Italic.woff2') format('woff2'),
        url('/fonts/STIXTwoText-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'STIX Two Text';
    src: url('/fonts/STIXTwoText-Medium.woff2') format('woff2'),
        url('/fonts/STIXTwoText-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'STIX Two Text';
    src: url('/fonts/STIXTwoText-MediumItalic.woff2') format('woff2'),
        url('/fonts/STIXTwoText-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'STIX Two Text';
    src: url('/fonts/STIXTwoText-Regular.woff2') format('woff2'),
        url('/fonts/STIXTwoText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'STIX Two Text';
    src: url('/fonts/STIXTwoText-SemiBold.woff2') format('woff2'),
        url('/fonts/STIXTwoText-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'STIX Two Text';
    src: url('/fonts/STIXTwoText-SemiBoldItalic.woff2') format('woff2'),
        url('/fonts/STIXTwoText-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

body {
    font-family: 'Moto Sans Mono', monospace;
}

math {
    font-family: 'Latin Modern Math';
}

.rader-copyright {
    font-style: italic;
    font-size: small;
}

.rader-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
